<!DOCTYPE html>
<html lang="en">

<head>
    <title>Employ51</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Coiny" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Pacifico|VT323" rel="stylesheet">
    <!-- <link rel="stylesheet" type="text/css" href="assets/css/style.css">    -->
    <link rel="stylesheet" href="assets/css/home.css">


</head>

<body>
    <div class="wrapper">
        <div class="container">
            <div class="main">
                <header>
                    <h1 class="display-3" id="title">Employ51</h1>
                    <p class="lead">Job search simplified</p>
                </header>

                <nav class="navbar navbar-expand-lg navbar-dark" id="navigation">
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
			    <span class="navbar-toggler-icon"></span>
			    </button>

                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav mr-auto">
                            <li class="nav-item active">
                                <a class="nav-link" href="#">About Us<span class="sr-only">(current)</span></a>
                            </li>
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
		          Sign/Login
		        	    </a>
                                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                    <a class="dropdown-item" id="createAccount" href="#">User login</a>
                                    <a class="dropdown-item" id="hrLogin" href="#">HR login</a>
                                </div>
                            </li>
                        </ul>
                        <form class="form-inline my-2 my-lg-0">
                            <input class="form-control mr-sm-2" type="search" placeholder="Job title or Keywords" aria-label="Search">
                            <input class="form-control mr-sm-2" type="location" placeholder="location" aria-label="Location">
                            <button class="btn btn-outline-success my-2 my-sm-0" id="search" type="submit">Search</button>
                        </form>
                    </div>
                </nav>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg">
                        <div id="resultDiv"></div>
                    </div>
                </div>
            </div>
            <div class="modal" id="createModal" tabindex="-1" role="dialog">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title">Create Account</h5>
                            <button type="button" class="close" id="closeModal" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body" id="bodyModal">
                            <form>
                                <div class="form-group">
                                    <input type="text" class="form-control" id="recipient-nameFirst" placeholder="First name">
                                </div>
                                <div class="form-group">
                                    <input type="text" class="form-control" id="recipient-nameLast" placeholder="Last name">
                                </div>
                                <div class="form-group">
                                    <input type="text" class="form-control" id="recipient-nameEmail" placeholder="Email">
                                </div>
                                <div class="form-group">
                                    <input type="text" class="form-control" id="recipient-namePassword" placeholder="Password">
                                </div>
                            </form>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-primary" data-dismiss="modal">Create</button>
                            </div>
                            <div>
                                <p class="haveaccount">Already have an account?</p>
                                <button type="button" class="btn btn-primary" id="modalLoginButton" data-dismiss="modal">Login</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="push"></div>
    </div>
    <div class="clearfix">
        <footer>
            &copy; Copyright 2017 Employ51
        </footer>
    </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>
    <script src="assets/js/app.js"></script>



    <script type="text/javascript">
        $('#createAccount').on('click', function() {
            $('#createModal').show();
        });

        $('#closeModal').on('click', function() {
            close();
        });

        function close() {
            $('#createModal').hide();
        };
    </script>

</body>

</html>