<!DOCTYPE html>
<html lang="en">

<head>
    <title>Employ51</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Coiny" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Indie+Flower" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Pacifico|VT323" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="./assets/css/home.css">

</head>

<body>
    <div class="wrapper">
        <div class="container-1">
            <div class="main">
                <header>
                    <nav class="navbar navbar-expand-lg navbar-dark" id="navigation">
                        <ul class="navbar-nav mr-auto">
                            <li class="nav-item active">

                                <a class="nav-link" id="createAccount" href="#">Create an account<span class="sr-only">(current)</span></a>
                                <a class="nav-link" id="login" href="#">Login<span class="sr-only">(current)</span></a>

                            </li>
                        </ul>
                        <h1 class="display-2" id="title">Employ51</h1>
                        <h4 class="display-6" id="motto">Job search simplified</h4>
                    </nav>
                </header>
            </div>
        </div>

        <div class="container-2">
            <div class="main">
                <form class="form-inline my-2 my-lg-0">
                    <input class="form-control mr-sm-2" type="search" placeholder="Job title or Keywords" aria-label="Search">
                    <input class="form-control mr-sm-2" type="location" placeholder="location" aria-label="Location">
                    <button class="btn btn-outline-success my-2 my-sm-0" id="search" type="submit">Search</button>
                </form>
            </div>

        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg">
                    <div id="resultDiv"></div>
                </div>
            </div>
        </div>
        <div class="push"></div>
    </div>
    <div class="clearfix">
        <footer>
            &copy; Copyright 2017 Employ51
        </footer>
    </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>
    <script src="assets/js/home.js"></script>



    <script type="text/javascript">
        $('#createAccount').on('click', function() {
            $('#createModal').show();
        });

        $('#closeModal').on('click', function() {
            close();
        });

        function close() {
            $('#createModal').hide();
        };
    </script>

</body>

</html>