<!DOCTYPE html>
<html lang="en">

<head>
    <title>Employ51</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=yes">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Coiny" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Indie+Flower" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Pacifico|VT323" rel="stylesheet">
    <!-- <link rel="stylesheet" type="text/css" href="assets/css/style.css">    -->
    <link rel="stylesheet" href="assets/css/home.css">

</head>

<body>
    <div class="wrapper">
        <div class="container-1">
            <div class="main">
                <ul class="nav">
                    <li class="nav-item">
                        <a class="nav-link" href="home.html">
                            <h1 id="title">Employ51</h1>
                        </a>
                        <h4 id="motto">Job search simplified</h4>
                    </li>
                    <li>
                        <form action="#" method="POST">
                            <input class="form-control mr-sm-2" type="search" placeholder="Job title or Keywords" id="job" aria-label="Search">
                            <input class="form-control mr-sm-2" type="location" placeholder="location" id="location" aria-label="Location">
                            <button class="btn btn-outline-success my-2 my-sm-0" id="search" type="button" data-toggle="collapse" data-target="#cardDiv" aria-expanded="false" aria-controls="cardDiv">Search</button>
                        </form>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="create.html" id="createAccount">Create account</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="login.html" id="login">Login</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="collapse" id="cardDiv">
            <div class="card">
                <h4 class="card-header">Company</h4>
                <div class="card-body">
                    <h4 class="card-title">Position</h4>
                    <p class="card-text">Job description.</p>
                    <a href="login.html" class="btn btn-primary">Apply</a>
                    <a href="home.html" class="btn btn-secondary">Close</a>
                </div>
            </div>
        </div>

        <!-- <div class="push"></div> -->
        <div class="clearfix">
            <footer>
                &copy; Copyright 2017 Employ51
            </footer>
        </div>


        <!-- Optional JavaScript -->
        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js " integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN " crossorigin="anonymous "></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js " integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh " crossorigin="anonymous "></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js " integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ " crossorigin="anonymous "></script>
        <script src="assets/js/home.js "></script>




        <script type="text/javascript ">
            // $("#search").on("click", function() {
            //     $("#cardDiv").hide();
            // });

            $('#createAccount').on('click', function() {
                $('#createModal').show();
            });


            $('#closeModal').on('click', function() {
                close();
            });

            function close() {
                $('#createModal').hide();
            };
        </script>

</body>

</html>