<!DOCTYPE html>
<html lang="en">

<head>
    <title>Employ51</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=yes">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Coiny" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Indie+Flower" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Pacifico|VT323" rel="stylesheet">
    <!-- <link rel="stylesheet" type="text/css" href="assets/css/style.css">    -->
    <link rel="stylesheet" href="assets/css/user.css">

</head>

<body>
    <div class="wrapper">
        <div class="container-1">
            <div class="main">
                <ul class="nav">
                    <li class="nav-item">
                        <a class="nav-link" href="home.html">
                            <h1 id="userTitle">Employ51</h1>
                        </a>
                        <h4 id="userMotto">Job search simplified</h4>
                    </li>
                    <!-- <li class="nav-item"> -->
                    <!-- <button class="nav-link" data-toggle="modal" data-target="#applicationModal" id="applications">Applications</button> -->
                    <!-- <button class="nav-link" id="applications">Applications</button> -->
                    <!-- </li> -->

                    <li class="nav-item">
                        <!-- <button class="nav-link" data-toggle="modal" data-target="#savedJobModal" id="savedJobs">Saved Jobs</button> -->
                        <button class="nav-link" id="resumeOptions">Documents</button>
                    </li>
                    <li class="nav-item">
                        <!-- <button class="nav-link" data-toggle="modal" data-target="#savedJobModal" id="savedJobs">Saved Jobs</button> -->
                        <button class="nav-link" id="savedJobs">Saved Jobs</button>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="myAccount" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                              My account
                        </a>
                        <div class="dropdown-menu" id="dropdownOptions" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="#" id="deleteAccount">Delete account</a>
                            <a class="dropdown-item" href="/">Logout</a>
                        </div>
                    </li>
                </ul>
                <ul class="nav" id="navSearch">
                    <li>
                        <form>
                            <input class="form-control mr-sm-2" type="search" placeholder="Job title or Keywords" id="userJob" aria-label="Search">
                            <input class="form-control mr-sm-2" type="location" placeholder="location" id="userLocation" aria-label="Location">
                            <button class="btn btn-outline-success my-2 my-sm-0" id="userSearch" type="button" data-toggle="collapse" data-target="#userSearchCardDiv">Search</button>
                        </form>
                    </li>
                </ul>
            </div>
        </div>
        <!-- <div class="container"> -->
        <!-- Cards -->
        <!-- <div class="collapse" id="userSearchCardDiv">
            <div class="card">
                <h4 class="card-header">Company</h4>
                <div class="card-body">
                    <h4 class="card-title">Position</h4>
                    <p class="card-text">Job description.</p>
                    <a href="#" class="btn btn-primary">Apply</a>
                    <a href="#" class="btn btn-success">Save</a>
                    <a href="user.html" class="btn btn-secondary">Close</a>
                </div>
            </div>
        </div> -->
        <!-- </div> -->
        <!-- Applications -->
        <!-- <div class="collapse" id="applicationsDiv">
            <div class="card">
                <h4 class="card-header">Company</h4>
                <div class="card-body">
                    <h4 class="card-title">Position</h4>
                    <p class="card-text">Job description.</p>
                    <a href="" class="btn btn-secondary">Close</a>
                </div>
            </div>
        </div> -->
        <!-- Resumes -->
        <div class="collapse" id="resumesDiv">
            <div class="card">
                <h4 class="card-header">Company</h4>
                <div class="card-body">
                    <h4 class="card-title">Position</h4>
                    <p class="card-text">Job description.</p>
                    <a href="#" class="btn btn-danger">Delete</a>
                    <a href="user.html" class="btn btn-secondary">Close</a>
                </div>
            </div>
        </div>
        <!-- Saved jobs -->
        <div class="collapse" id="saveJobsDiv">
            <div class="card">
                <h4 class="card-header">Company</h4>
                <div class="card-body">
                    <h4 class="card-title">Position</h4>
                    <p class="card-text">Job description.</p>
                    <a href="#" class="btn btn-primary">Apply</a>
                    <a href="user.html" class="btn btn-secondary">Close</a>
                </div>
            </div>
        </div>


        <div class="push"></div>
        <div class="clearfix">
            <footer>
                &copy; Copyright 2017 Employ51
            </footer>
        </div>
        <!-- Delete account modal -->
        <div class="modal" id="deleteModal" tabindex="-1" role="dialog">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Delete account</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <!-- <span aria-hidden="true">&times;</span> -->
                      </button>
                    </div>
                    <div class="modal-body" id="body">
                        <h6 id="matchName"></h6>
                        <img id="sadPhoto" src="./assets/images/Smiley_green_alien_big_eyes.svg.png" class="img-fluid img-thumbnail" alt="image">
                        <h5 id="areYouSure">We are sad to see you go... Are you sure?</h5>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-danger" id="del_yes">Yes</button>
                        <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>

        <!-- Application Modal -->
        <div class="modal fade" id="applicationModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="applicationLabel">Applications</h5>
                    </div>
                    <div class="modal-body" id="myApplications">
                        <div class="form-group">
                            <label for="exampleFormControlSelect2">Please select from below:</label>
                            <select multiple class="form-control" id="exampleFormControlSelect2">
                                        <option>1</option>
                                        <option>2</option>
                                        <option>3</option>
                                        <option>4</option>
                                        <option>5</option>
                                    </select>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <!-- <button type="button" class="btn btn-primary" id="applySavedJob">Apply</button> -->
                        <!-- <button type="button" class="btn btn-primary" id="deleteSavedJob">Delete</button> -->
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
        <!-- Resume Modal -->
        <div class="modal fade" id="resumeModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="resumeLabel">My Documents</h5>
                    </div>
                    <div class="modal-body" id="myResume">
                        <div class="form-group">
                            <label for="exampleFormControlSelect2">Please select from below:</label>
                            <select class="form-control" id="myResume_select">
                                    <!-- <option>1</option>
                                    <option>2</option>
                                    <option>3</option>
                                    <option>4</option>
                                    <option>5</option> -->
                                </select>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <!-- <button type="button" class="btn btn-primary" id="applySavedJob">Apply</button> -->
                        <button type="button" class="btn btn-primary" id="deleteSavedJob">Delete</button>
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
        <!-- Upload Resume Modal -->
        <div class="modal fade bd-example-modal-sm" id="uploadResume" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-sm">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="uploadLabel">My Resumes</h5>
                    </div>
                    <a href="#" class="card-link">Another link</a>
                </div>
            </div>
        </div>

        <!-- Saved Jobs Modal -->
        <div class="modal fade" id="savedJobModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="savedJobLabel">My Saved Jobs:</h5>
                    </div>
                    <div class="modal-body" id="savedJobDescription">
                        <div class="form-group">
                            <label for="exampleFormControlSelect2">Please select one from below:</label>
                            <select id="mySavedJobs_select">
                                    <!-- <select class="form-control" id="mySavedJobs_select"> -->
                                <!-- <option>1</option>
                                <option>2</option>
                                <option>3</option>
                                <option>4</option>
                                <option>5</option> -->
                            </select>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <!-- <button type="button" class="btn btn-primary" id="applySavedJob">Apply</button> -->
                        <button type="button" class="btn btn-primary" id="deleteSavedJob">Delete</button>
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>


        <!-- Optional JavaScript -->
        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <!-- <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script> -->
        <script src="https://code.jquery.com/jquery-3.2.1.js" integrity="sha256-DZAnKJ/6XZ9si04Hgrsxu/8s717jcIzLy3oi35EouyE=" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js " integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh " crossorigin="anonymous "></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js " integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ " crossorigin="anonymous "></script>
        <script src="assets/js/user.js "></script>

</body>

</html>